@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: block;
    src: url(/fonts/Open_Sans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: block;
    src: url(/fonts/Open_Sans_Italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Brightwall';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(/fonts/Brightwall_Regular.woff2) format('woff2');
}

html {
    min-width: 360px;
    background: none;
    scroll-behavior: smooth;
}

p {
    line-height: 160%;
    word-spacing: 0.08rem;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

blockquote {
    @apply border-l-4 border-l-pink-700 pl-4 italic py-2;
}

@-webkit-keyframes changingChar {
    0% {
        content: 'ᕦ(ツ)ᕤ';
    }
    50% {
        content: 'e(ツ)ɘ';
    }
}

@keyframes changingChar {
    0% {
        content: 'ᕦ(ツ)ᕤ';
    }
    50% {
        content: 'e(ツ)ɘ';
    }
}

.char.anim:after {
    -webkit-animation: changingChar 1s linear infinite alternate;
    content: 'ᕦ(ツ)ᕤ';
    animation: changingChar 1s linear infinite alternate;
}
